footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0.5rem;
    background-color: #161619;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

img {
    width: 2rem;
}